@model Gerenciador.Domain.Amigos

@{
    ViewBag.Title = "Deletar amigo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">

<h2>Deletar @Model.Nome @Model.Sobrenome</h2>

<p>Tem certeza que quer deletar esse amigo?</p>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.Nome)</strong> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Sobrenome)</strong> 
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Aniversario)</strong>
        </dt>

        <dd>
            @Model.Aniversario.ToShortDateString()
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <input type="submit" value="Excluir" class="btn btn-primary btn-sm" /> | @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
</div>
