@model Gerenciador.Domain.Amigos

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
<h1>Detalhes de @Model.Nome @Model.Sobrenome</h1>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.Nome)</strong>  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Sobrenome)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Aniversario)</strong> 
        </dt>

        <dd>
            @Model.Aniversario.ToShortDateString()
        </dd>
        <dd>Faltam @Model.TempoRestante() dia(s) para seu aniversário.</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
</div>
