@model Gerenciador.Domain.Amigos

@{
    ViewBag.Title = "Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalhes de @Model.Nome @Model.Sobrenome</h2>

<div>
    <h1>Amigos</h1>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <strong>@Html.DisplayNameFor(model => model.Nome)</strong>  
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Sobrenome)</strong>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sobrenome)
        </dd>

        <dt>
            <strong>@Html.DisplayNameFor(model => model.Aniversario)</strong> 
        </dt>

        <dd>
            @Model.Aniversario.ToShortDateString();
        </dd>
        <dd>Faltam @Model.TempoRestante() dia(s) para seu aniversário.</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
