@model Gerenciador.Domain.Amigos
    
@{ 
    ViewBag.Title = "Editar Amigo";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<section>
    <header>
        <div class="section_header">
            <div class="container">
                <h2 class="titulo">Editando</h2>
            </div>
        </div>
    </header>
    <div class="container">
        @using (Html.BeginForm()) 
        { 

        @Html.AntiForgeryToken()

        @Html.ValidationSummary(true, "", new { @class = "text-danger" }) 
        @Html.HiddenFor(model => model.Id) 

        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "formGeral" }) <br />
        @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-name" } }) <br />
        @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" }) <br/>


        @Html.LabelFor(model => model.Sobrenome, htmlAttributes: new { @class = "formGeral" }) <br />
        @Html.EditorFor(model => model.Sobrenome, new { htmlAttributes = new { @class = "form-name" } }) <br />
        @Html.ValidationMessageFor(model => model.Sobrenome, "", new { @class = "text-danger" }) <br />

        
        @Html.LabelFor(model => model.Aniversario, htmlAttributes: new { @class = "formGeral" }) <br />
        @Html.EditorFor(model => model.Aniversario, new { htmlAttributes = new { @class = "form-birthday" } }) <br />
        @Html.ValidationMessageFor(model => model.Aniversario, "", new { @class = "text-danger" }) <br />

        <div class="form-group">
            <input type="submit" value="Salvar" class="btn-default" />
        </div>
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts { @Scripts.Render("~/bundles/jqueryval") }
    }
    </div>
</section>