@model IEnumerable<Gerenciador.Domain.Amigos>

@{
    ViewBag.Title = "Search";
}



@using (Html.BeginForm())
{
    <div class="container">
        <h1>Buscar amigos</h1>
        <p>
            @Html.ActionLink("Voltar", "Index")
        </p>
        <br />
        <div class="row">
            <div class="form-group mx-sm-3 mb-2">
                <input type="text" name="pesquisa" class="form-control col-sm" />
            </div>
            <div>
                <input type="submit" value="Buscar" class="btn btn-primary btn-lg btn-block" />
            </div>
        </div>
    </div>
    <br />
    <div class="container">
        @Html.AntiForgeryToken()
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th>
                        @Html.DisplayNameFor(Model => Model.Nome)
                    </th>

                    <th>
                        @Html.DisplayNameFor(Model => Model.Sobrenome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(Model => Model.Aniversario)
                    </th>
                    <th></th>
                </tr>
            </thead>
            @foreach (var amigo in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => amigo.Nome)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => amigo.Sobrenome)
                    </td>
                    <td>
                        @amigo.Aniversario.ToShortDateString()
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = amigo.Id }) |
                        @Html.ActionLink("Detalhes", "Details", new { id = amigo.Id }) |
                        @Html.ActionLink("Excluir", "Delete", new { id = amigo.Id })
                    </td>
                </tr>
            }
        </table>
    </div>
}